basedpyright==1.29.4,
cmake-language-server==0.1.11,
ninja==1.11.1.4,
pylatexenc==2.10,
ruff==0.12.1,
tldr==3.4.1,
virtualenv==20.31.2,
debugpy==1.8.12
pynvim==latest
jupytext==latest
notebook==latest
ipykernel==latest
jupyter-client==latest
